.dashboard{
    display: flex;
    flex-flow: row wrap;
    padding: 2% 4% 0% 4%;
    .dashboardData{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        max-height: fit-content;
        .dashboardGraph{
            display: flex;
            flex-flow: row wrap;
            width: 85%;
        }
        .graph{
            background-color: #FBFBFB;
            border-radius: 5px;
        }
    }
}