.sessionsDatas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    .activitiesTime{
        background-color: #FF0000;
        width: 33%;
    }
    .intensity{
        background-color: #282D30;
        border-radius: 5px;
    }
    .scorePercentage{
        position:absolute;
        margin: 0%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        width: 75px;
        right: 30%;
        bottom: 15%;
        h3{
            margin: 0%;
        }
        p{
            margin: 0%;
        }
    }    
}