.sessionsDatas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    .activitiesTime{
        background-color: lightgray;
        width: 33%;
    }
}