.sessionsDatas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    .activitiesTime{
        background-color: #FF0000;
        position: relative;
        h3{
            color: white;
            width: 50%;
            opacity: 0.75;
            top: 10%;
            left: 10%;
        }
    }
    .intensity{
        background-color: #282D30;
        border-radius: 5px;
    }
    .score.graph {
        position: relative;
    }
    .scorePercentage{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -70%);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 10;
        .percentage{
            position: relative;
            font-weight: 700;
            font-size:xx-large;
            margin: 0%;
            padding: 0%;
            left: 0%;
            top: 0%;
        }
        p{
            position: relative;
            margin: 0%;
            padding: 0%;
            max-width: 50%;
            color: #9B9EAC;
            font-weight: 500;
        }  
    }
    h3{
        position: absolute;
        margin: 0%;
        padding:0%;
        font-weight: 500;
        font-size: larger;
        top: 15%;
        left: 15%;

    } 
}